## Dual Annealing Hyperparameter Experiments Pipeline

In [1]:
%pwd
%cd ../..

/home/seanschweiger/dl_testing/Deeplifting

In [18]:
from functools import partial

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

from deeplifting.problems import PROBLEMS_BY_NAME
from deeplifting.optimization import run_dual_annealing

In [62]:
# lists of hyperparameter values to test
init_temp_vals = [0.01, 10, 50, 100, 250, 500, 1000, 2500, 5000, 10000, 15000, 20000, 25000, 30000, 40000, 50000]
res_temp_vals = [1e-6, 1e-5, 1e-4, 1e-3, 1e-2, 1e-1, 0.25, 0.5, 0.75, 0.99]
vis_vals = [1.01, 1.25, 1.5, 1.75, 2.0, 2.25, 2.5, 2.75, 3.0]
acpt_vals = [-9.999e3, -1e3, -1e2, -1e1, 0, -1, -2, -3, -4,-5]

In [8]:
# initialize problem to test
problem_name = 'ex4_1_5'
problem = PROBLEMS_BY_NAME[problem_name]

### Initial Temperature Experiment

In [44]:
init_temp_results = pd.DataFrame()
for i in range(len(init_temp_vals)):
    outputs = run_dual_annealing(problem, trials=10, init_temp=init_temp_vals[i])
    fn_results = []
    for j in range(len(outputs['final_results'])):
        fn_results.append(outputs['final_results'][j][-1]) 
    init_temp_results[init_temp_vals[i]] = fn_results

In [45]:
init_temp_results

,0.01,10.00,50.00,100.00,250.00,500.00,1000.00,2500.00,5000.00,10000.00,15000.00,20000.00,25000.00,30000.00,40000.00,50000.00
0,-1.000000e+06,-1.000012e+00,-1.000001e+00,-1.000618e+00,-1.000002e+00,-1.000001e+00,-1.000012e+00,-1.000000e+06,-1.000000e+06,-1.000000e+06,-1.000000e+06,-1.000000e+06,-1.000000e+06,-1.000000e+06,-1.000000e+06,-1.000000e+06
1,-1.000000e+06,-1.000000e+06,-1.000003e+00,-1.000000e+06,-1.000001e+00,-1.000002e+00,-1.000003e+00,-1.000550e+00,-1.000550e+00,-1.000550e+00,-1.000550e+00,-9.999845e+05,-9.926516e+05,-1.000000e+06,-1.000550e+00,-1.000000e+06
2,-1.000000e+06,-1.000006e+00,-1.000888e+00,-1.000000e+06,-1.000000e+06,-1.000000e+06,-1.000000e+06,-1.000000e+06,-1.000023e+00,-1.000000e+06,-1.000000e+06,-1.000000e+06,-1.000000e+06,-1.000023e+00,-1.000000e+06,-9.992857e+05
3,-1.000000e+06,-1.000016e+00,-1.000000e+00,-1.000001e+00,-1.001852e+00,-1.000068e+00,-1.000052e+00,-1.000002e+00,-1.000000e+06,-1.000000e+06,-1.000000e+06,-1.000059e+00,-1.000000e+06,-1.000002e+00,-1.000089e+00,-1.000002e+00
4,-1.000000e+06,-1.000000e+06,-1.000009e+00,-1.000000e+06,-1.000000e+06,-1.000000e+06,-1.000000e+06,-1.000000e+06,-1.000000e+06,-1.000000e+06,-1.000000e+06,-1.000000e+06,-1.000000e+06,-1.000000e+06,-1.000000e+06,-1.000000e+06
5,-1.000000e+06,-1.095121e+00,-1.000006e+00,-1.000005e+00,-1.000011e+00,-1.000001e+00,-1.000000e+06,-1.000059e+00,-1.000000e+06,-1.000000e+06,-1.000000e+06,-1.000006e+00,-1.000000e+06,-1.000000e+06,-1.000000e+06,-1.000000e+06
6,-1.000000e+06,-1.000624e+00,-1.000000e+06,-1.000000e+06,-1.000000e+06,-1.000006e+00,-1.000009e+00,-1.000009e+00,-1.000000e+06,-1.000009e+00,-1.000009e+00,-1.000009e+00,-1.000000e+06,-9.999999e+05,-1.000000e+06,-1.000009e+00
7,-1.000000e+06,-1.000001e+00,-1.000135e+00,-1.000000e+00,-1.000002e+00,-1.090337e+00,-1.000010e+00,-1.000004e+00,-1.000000e+06,-1.000001e+00,-1.000001e+00,-1.000000e+06,-1.015687e+00,-1.000001e+00,-1.000000e+06,-9.999999e+05
8,-1.000000e+06,-9.976408e+00,-1.002015e+00,-1.000003e+00,-1.000001e+00,-1.000200e+00,-1.000001e+00,-1.000017e+00,-1.000000e+06,-1.000017e+00,-1.000017e+00,-1.000017e+00,-1.000000e+06,-1.000017e+00,-1.000000e+06,-9.999998e+05
9,-9.964261e+05,-1.001839e+00,-1.000011e+00,-1.000000e+06,-1.000000e+06,-1.000006e+00,-1.000000e+06,-1.000000e+00,-1.000060e+00,-1.035660e+00,-1.035660e+00,-1.000000e+06,-1.035660e+00,-1.000000e+06,-1.035660e+00,-9.999999e+05

In [ ]:
for i in range(len(init_temp_vals)):
    print(init_temp_results[init_temp_vals[i]].value_counts())

### Restart Temperature Ratio Experiments

In [ ]:
res_temp_results = pd.DataFrame()
for i in range(len(res_temp_vals)):
    outputs = run_dual_annealing(problem, trials=10, res_temp=res_temp_vals[i])
    fn_results = []
    for j in range(len(outputs['final_results'])):
        fn_results.append(outputs['final_results'][j][-1]) 
    res_temp_results[res_temp_vals[i]] = fn_results

In [64]:
res_temp_results

,0.000001,0.000010,0.000100,0.001000,0.010000,0.100000,0.250000,0.500000,0.750000,0.990000
0,-1.000000e+06,-1.000000e+06,-1.000000e+06,-1.000000e+06,-1.000000e+06,-1.000000e+06,-1.000000e+06,-1.000000e+06,-1.000000e+06,-1.000000e+06
1,-1.000550e+00,-1.000550e+00,-1.000550e+00,-1.122243e+00,-7.803978e+00,-4.405776e+00,-9.996162e+05,-9.652459e+05,-9.652459e+05,-9.652459e+05
2,-1.000023e+00,-1.000023e+00,-5.168647e+00,-9.999999e+05,-9.998277e+05,-2.135585e+01,-1.000000e+06,-1.000000e+06,-1.000000e+06,-1.000000e+06
3,-1.000007e+00,-1.000007e+00,-1.000006e+00,-4.504620e+00,-1.910498e+01,-7.635365e+00,-1.000000e+06,-1.000000e+06,-1.000000e+06,-1.000000e+06
4,-1.000000e+06,-1.000000e+06,-1.000000e+06,-1.000000e+06,-1.000000e+06,-1.000000e+06,-1.000000e+06,-1.000000e+06,-1.000000e+06,-1.000000e+06
5,-1.000001e+00,-1.000001e+00,-1.000001e+00,-1.035211e+00,-9.991466e+05,-3.625608e+01,-2.590202e+00,-2.941990e+00,-2.941990e+00,-2.941990e+00
6,-1.000009e+00,-1.000009e+00,-2.438956e+00,-9.999398e+05,-1.689676e+01,-7.594759e+00,-1.000000e+06,-2.684878e+01,-2.684878e+01,-2.684878e+01
7,-1.000001e+00,-1.000001e+00,-1.000001e+00,-1.000000e+06,-1.394512e+01,-9.947866e+05,-1.951206e+01,-1.000001e+00,-1.000001e+00,-1.000001e+00
8,-1.000000e+06,-1.000000e+06,-1.000000e+06,-1.000000e+06,-1.000000e+06,-8.600866e+00,-9.979691e+05,-1.855803e+00,-1.855803e+00,-1.855803e+00
9,-1.000000e+00,-1.000000e+00,-2.655161e+01,-1.000000e+06,-3.315526e+00,-7.336903e+00,-5.889243e+00,-3.934497e+00,-3.934497e+00,-3.934497e+00